{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
<style>
    .product-card {
        border: 2px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .product-card .card-title a {
        color: blue;
        text-decoration: none;
    }

    .product-card .card-text {
        color: red;
    }

    .btn-link {
        color: #007bff;
        text-decoration: underline;
    }

    .btn-link:hover {
        color: #0056b3;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>What are you looking for?</h1>
    <form method="POST">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="price_input">Enter Price</label>
                <input type="text" class="form-control" id="price_input" name="price_input" placeholder="Enter budget">
            </div>
            {% for column in columns %}
            <div class="col-md-3 mb-3">
                <label for="dropdown_{{ column }}">Select {{ column }}</label>
                <select class="form-control" id="dropdown_{{ column }}" name="dropdown_{{ column }}">
                    <option value="">Choose...</option>
                    {% for item in columns[column] %}
                    <option value="{{ columns[column][item] }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="dropdown_model">Select Recommendation Model</label>
                <select class="form-control" id="dropdown_model" name="dropdown_model">
                    <option value="">Choose...</option>
                    {% for model in models %}
                    <option value="{{ models[model] }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="dropdown_level">Select Recommendation Level</label>
                <select class="form-control" id="dropdown_level" name="dropdown_level">
                    <option value="">Choose...</option>
                    {% for level in levels %}
                    <option value="{{ levels[level] }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="dropdown_num">How many Recommendations?</label>
                <select class="form-control" id="dropdown_num" name="dropdown_num">
                    <option value="">Choose...</option>
                    {% for num in numbers %}
                    <option value="{{ numbers[num] }}">{{ num }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="dropdown_sort">Sort By</label>
                <select class="form-control" id="dropdown_sort" name="dropdown_sort">
                    <option value="">Choose...</option>
                    {% for sort in sorts %}
                    <option value="{{ sorts[sort] }}">{{ sort }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    {% if searched_items %}
    <h2>Recommended Items:</h2>
    <div class="container mt-5">
        <div class="row">
            {% for product in searched_items %}
            <div class="col-md-4">
                <div class="card product-card">
                    <a href="{{ url_for('views.product', product_id=product.id) }}">
                        <img src="{{ product.image if product.image else https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg }}" class="card-img-top" alt="Product Image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url_for('views.product', product_id=product.id) }}">{{ product.name }}</a>
                        </h5>
                        <p class="card-text" style="font-size: 20px">
                            <b>Rs.{{ product.price }}</b>
                            <a href="{{ product.url }}" class="btn btn-link">Go to Daraz</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}